* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: block;
    width: 100%;
    padding-top: 70px;
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}

.header-container {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.header {
    width: 100%;
    max-width: 960px;
    margin: auto;
    padding: 5px 30px 5px 30px;
    background-color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 60px;
    height: 60px;
}

.header-menu {
    display: none;
    width: 40px;
    height: 40px;
}

.header-link {
    margin: 5px;
    
}

.header-mobile {
    display: block;
    position: absolute;
    width: 100%;
    background-color: white;
    top: 100%;
    left: 0;
    text-align: center;
    transition-duration: 0.3s;
    box-shadow: 0px 0px 15px 3px rgba(0,0,0,0.8);
    z-index: -1;
}

.header-mobile-link {
    display: block;
    margin: 10px 0px;
}

.header-mobile.hidden {
    top: -220px;
}

.btn {
    color: #2A4494;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 0 10px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    line-height: 30px; 
    background-color: #01BAEF;
    transition: background-color 0.4s cubic-bezier(0.215, 0.61, 0.355, 1);
    text-align: center;
}

.btn:hover {
     background-color: #222823;
}

.home-about {
    position: relative;
    color: #222823;
    padding: 90px 0;
    font-size: 16px;
    text-align: center;
    background: fixed url(assets/dogs-background.svg) repeat;
    background-size: 500px;
}

.center {
    margin: 0 auto;
    max-width: 960px;
    padding: 0 10px;
}

.home-about .center {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-around;
}

.home-about-div{
    width: 31%;
}

.home-about-image {
    background: center no-repeat;
    height: 70px;
}

.home-about-div-container {
    background: #fff;
    border-radius: 30px;
    padding: 10px 15px;
    margin-top: 20px;
}

.home-about-image--list {
    background-image: url(assets/list.svg);
}

.home-about-image--heart {
    background-image: url(assets/heart.svg);
}

.home-about-image--bone {
    background-image: url(assets/bone.svg);
}

.home-about .btn {
    margin-top: 20px;
    min-width: 120px;
    padding: 3px 5px 3px 5px;
}
.btn--border-white {
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
}
/*================home-images=================*/
.home-images {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.home-image {
    background-size: cover;
    padding: 130px 0px;
    position: relative;
    overflow: hidden;
    background-position: center;
}

.home-image-title {
    text-align: center;
    font-size: 25px;
    transition-duration: 0.3s;
}

.home-image-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -100%;
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
}

.home-image-hover-container {
    width: max-content;
    max-width: 100%;
    text-align: center;
    font-size: 18px;
}

.home-image-hover-container-link {
    font-size: 20px;
    font-weight: bold;
}

.home-image-delim {
    margin: 30px 0;
}

.home-image-delim::before, .home-image-delim::after {
    content: "";
    width: 60px;
    height: 2px;
    background-color: #222823;
    display: inline-block;
    margin: 0px 5px 4px 5px;
}

.home-image:hover .home-image-hover{
    top: 0;
}

.home-image:hover .home-image-title{
    transform: scale(0);
}

/*===================footer===================*/
.hr {
    margin: 30px 0;
    border-top: 1px solid currentColor;
}

.footer {
    margin: auto;
    background-color: #2A4494;
    color: #fff;
    padding: 5px 30px 5px 30px;
}

.footer-socials {
    text-align: center;
    font-weight: 300;
    font-size: 14px;
}

.footer-socials img {
    width: 40px;
    height: 40px;
}

.footer .hr {
    border-top-color: #fff;
    position: relative;
}

.footer-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    line-height: 1.1;
}

.footer-nav-col {
    width: 50%;
    min-width: 100px;
    margin-bottom: 20px;
}

.footer-nav-header-title {
    width: 100%;
    text-align: center;
}
.footer-nav-col-container {
    margin: auto;
    width: max-content;
    max-width: 100%;
}

.footer-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: -webkit-sticky;
    position: sticky;
    bottom: 5px;
}

.footer-image {
    background: no-repeat;
    height: 80px;
    width: 80px;
}

.footer-image--cat-food {
    background-image: url(assets/cat-food.svg);
    margin-left: -25px;
}

.footer-image--dog-food {
    background-image: url(assets/dog-food.svg);
    margin-right: -25px;
}

.footer-image--cat-mobile {
    background-image: url(assets/kitty-mobile.svg);
    display: none;
}

@media screen and (max-width: 768px) {
    .header-menu {
        display: block;
    }

    .header-link {
        display: none;
    }

    .home-about .center {
        display: inline;
    }

    .home-about-div {
        width: 235px;
        margin: 0px auto 40px auto;
    }

    .home-images {
        grid-template-columns: 1fr;
    }

    .home-image .home-image-hover{
        top: 0;
    }

    .home-image .home-image-title{
        transform: scale(0);
    }

    .footer-nav-col {
        width: 100%;
    }

    .footer-nav-col-container {
        margin: unset;
    }

    .footer-image--cat-food {
        display: none;
    }

    .footer-image--dog-food {
        display: none;
    }

    .footer-image--cat-mobile {
        display: block;
        margin: 5px -25px 5px auto;
    }
}